/* Layout */
.login-page {
  min-height: 100vh;
  display: flex;
  background: var(--bg-main);
}

/* LEFT SIDE */
.login-visual {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.image-slider {
    padding-right: 10px;
  height: 100%;
  position: relative;
}

.image-slider img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeSlide 15s infinite;
}



/* Simple image fade animation */
@keyframes slide {
  0%, 30% { transform: translateY(0); }
  35%, 65% { transform: translateY(-100vh); }
  70%, 100% { transform: translateY(-200vh); }
}

/* RIGHT SIDE */
.login-form {
  height: 100vh;
  overflow-y: auto;
  width: 500px;
}


.login-form h2 {
  margin-bottom: 30px;
  color: var(--accent-primary);
}

/* Toggle */
.role-toggle {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}

.role-toggle span {
  cursor: pointer;
  color: #999;
  padding-bottom: 5px;
}

.role-toggle .active {
  color: var(--accent-primary);
  border-bottom: 2px solid var(--accent-primary);
}

/* Line Inputs */
.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--border-muted);
  background: transparent;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #888;
  transition: 0.3s;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 0.8rem;
  color: var(--accent-primary);
  border-color: var(--accent-primary);
}

/* Button */
.full-width {
  width: 100%;
  margin-top: 10px;
}

/* Signup */
.signup-text {
  margin-top: 30px;
  font-size: 0.9rem;
}

.signup-text a {
  color: var(--accent-primary);
  font-weight: 600;
  text-decoration: none;
}
.image-slider img:nth-child(1) {
  animation-delay: 0s;
}

.image-slider img:nth-child(2) {
  animation-delay: 5s;
}

.image-slider img:nth-child(3) {
  animation-delay: 10s;
}

@keyframes fadeSlide {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}
